name: Python Code Check

on:
  push:
  # For manual triggering
  workflow_dispatch:

permissions:
  contents: read

jobs:
  code_check:
    runs-on: ubuntu-latest

    env:
      PYTHON_VERSION: 3.12

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v6

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v6
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
          pip install pylint

      - name: Lint with pylint
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: |
          pylint middleware

      - name: Test with python unittest
        run: |
          python -m unittest discover -s middleware -p "test_*.py"
